extends layout

block content
  div(class='row justify-content-center align-items-center')
    div(id='post-container' class='col-sm-8 border border-primary rounded py-3 bg-light')
      form(id='post-form' action='/post' method='post')
        h1 #{mode}
        div(class='form-group')
          label(for='inputTitle' class='col-form-label') Title
          input(type='hidden' class='form-control' name='id' value='#{id}')
          input(type='text' class='form-control' id='inputTitle' name='title' value='#{title}')
        div(class='form-group')
          label(for='inputPost' class='col-form-label') Post
          input(type='text' class='form-control' id='inputPost' name='post' value='#{post}')
        input(type='submit' class='btn btn-primary' value='#{submitButton}')

block append scripts
  script.
    const error = "#{error}";
    const message = "#{message}";

    if(error) {
      MyBlogApp.toast('danger', error);
    }

    if(message) {
      MyBlogApp.toast('success', message);
    }