extends layout

block content
  h1= title
  p #{title}
  form(action='/', method='POST')
    div
      h2 AES-CTR 01
      input(type="text", name="data1", value='#{data1}')
      br
      div !{data1Encrypted}
      br
    div
      h2 AES-CTR 02
      input(type="text", name="data2", value='#{data2}')
      br
      div !{data2Encrypted}
      br
    div
      h2 AES-GCM 01
      input(type="text", name="data3", value='#{data3}')
      br
      div !{data3Encrypted}
      br
    div
      h2 AES-GCM 02
      input(type="text", name="data4", value='#{data4}')
      br
      div !{data4Encrypted}
      br
    div
      h2 Camellia-CBC 01
      input(type="text", name="data5", value='#{data5}')
      br
      div !{data5Encrypted}
      br
    div
      h2 Camellia-CBC 02
      input(type="text", name="data6", value='#{data6}')
      br
      div !{data6Encrypted}
      br
    div
      input(type="submit", value="submit")
